PyGithub==2.5.0
python-dotenv==1.0.1
requests==2.32.3
sentence-transformers
chromadb
torch
transformers
fastapi
uvicorn
streamlit
huggingface_hub

SQLAlchemy==2.0.51
PyJWT==2.13.0
pwdlib[argon2]==0.3.0
email-validator